button{
    background-color: #133639;
    padding: 0.6rem 2rem;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 1.3rem;
    position: relative;

    svg{
        margin-left: 0.5rem;
        position: absolute;
    }
}