.Gallery{
    padding: 8rem 0;
    background: #e9eef1;
    ::-webkit-scrollbar{
        display: none;
      }
    h2{
        font-size: 5rem;
        line-height: 6rem;
        margin-bottom: 2rem;
        color: #133639;
        text-align: left;
        margin-left: 5rem;
    }

    hr{
        width: 15%;
        height: 0;
        border: 1px solid #000000;
        border-bottom: 0;
        border-left: 0;
        border-right: 0;
        margin-bottom: 2rem;
        margin-left: 5.5rem;
    }
    svg{
      cursor: pointer;
    }

    .TopRow{
        display: flex;
        align-items: center;
        justify-items: center;
        margin: 0 1rem;
        
        .TopRowWrapper{
          display: flex;
          overflow-x: hidden;
          flex-direction: row-reverse;
      
          .TopRowItem{
            padding: 0.5rem;
            .TopRowImage{
              display: block;
              width: 25rem;
              height: 20rem;
              border-radius: 16px;
            }
          }
          
        }
    }



    .BottomRow{
      display: flex;
      align-items: center;
      justify-items: center;
      margin: 1rem 1rem;
      
      .BottomRowWrapper{
        display: flex;
        overflow-x: hidden;
        
    
        .BottomRowItem{
          padding: 0.5rem;
          .BottomRowImage{
            display: block;
            width: 25rem;
            height: 20rem;
            border-radius: 16px;
          }
        }
        
      }
    }
}


@media screen and (max-width: 1000px) {
  .Gallery{
    padding: 2rem 0;
    h2{
      font-size: 3.5rem;
      text-align: center;
      margin: 0 0 1rem 0;
    }

    hr{
      width: 30%;
      margin: 0 auto 2rem auto;
    }
    .Control{
      width: 3rem;
      height: 3rem;
    }

    .TopRow{
      
      .TopRowWrapper{
        
    
        .TopRowItem{
          .TopRowImage{
            display: block;
            width: 10rem;
            height: 10rem;
            border-radius: 10px;
          }
        }
        
      }
    }


    .BottomRow{
    
      .BottomRowWrapper{
        .BottomRowItem{
          .BottomRowImage{
            display: block;
            width: 10rem;
            height: 10rem;
            border-radius: 10px;
          }
        }
      
      }
    }


    

  }
}