.Header{
    background-image: url(../../Images/BackgroundImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 2rem 5rem;
    color: #FFFFFF;

    h1{
        font-size: 5rem;
        line-height: 7rem;
        letter-spacing: 0.2rem;
        padding: 8rem 0 3rem 0;
    }
}

@media screen and (max-width: 1000px) {
    .Header{
        padding: 2rem 2rem;
    }
    

}