.OurProducts{
    background: #E5E5E5;
    padding: 8rem 5rem;
    text-align: left;
    
    h2{
        font-size: 6.2rem;
        line-height: 6rem;
        margin-bottom: 2rem;
        color: #133639;
    }
    hr{
        width: 20%;
        height: 0;
        border: 1px solid #000000;
        border-bottom: 0;
        border-left: 0;
        border-right: 0;
        margin-bottom: 6rem;
    }

    .ProductsWrapper{
        display: grid;
        grid-template-columns: 50% 50%;
        margin-bottom: 6rem;
        

        .FirstProduct{
            background-image: url(../../../Images/Product1.jpg);
            background-repeat: no-repeat;
            background-size: contain;
            border-radius: 10px;
            margin: 3rem;
        }
        article{
        
            width: 100%;
            padding: 5rem 0 5rem 2rem;
            
            h3{
                font-size: 1.7rem;
                margin-bottom: 3rem;
                color: #133639;
            }
            p{
                font-size: 1.3rem;
                line-height: 2rem;
                margin-bottom: 3rem;
                color: #265156;
            }
        }
    }

    .ProductsWrapper2{
        display: grid;
        grid-template-columns: 50% 50%; 
        

        .SecondProduct{
            background-image: url(../../../Images/Product2.jpg);
            background-repeat: no-repeat;
            background-size: contain;
            border-radius: 10px;
            margin: 3rem;
        }

        article{
        
            width: 100%;
            padding: 5rem 2rem 5rem 0;
            
            h3{
                font-size: 1.7rem;
                margin-bottom: 3rem;
                color: #133639;
            }
            p{
                font-size: 1.3rem;
                line-height: 2rem;
                margin-bottom: 3rem;
                color: #265156;
            }
        }
    }

    
}


@media screen and (max-width: 1000px) {
    .OurProducts{
        padding: 5rem 1rem;
        text-align: center;

        h2{
            font-size: 3.5rem;
            margin-bottom: 1rem;
        }

        hr{
            width: 40%;
            margin: 0 auto 4rem auto;
        }


        .ProductsWrapper{
        display: flex;
        flex-direction: column;
        margin-bottom: 6rem;
        

        .FirstProduct{
            width: 21rem;
            height: 20rem;
            margin: auto;
        }
        article{
        
            width: 100%;
            padding: 2rem 1rem;
        }
    }

    .ProductsWrapper2{
        display: flex;
        flex-direction: column-reverse; 
        

        .SecondProduct{
            width: 21rem;
            height: 20rem;
            margin: auto;
        }

        article{
        
            width: 100%;
            padding: 2rem 1rem;
            
        }
    }
    }
}

@media screen and (width: 280px){
    .OurProducts{
        .ProductsWrapper{
            .FirstProduct{
                width: 15rem;
                height: 15rem;
            }
        }
        .ProductsWrapper2{
            .SecondProduct{
                width: 15rem;
                height: 15rem;
            }
        }
    }
}