@import url('http://fonts.cdnfonts.com/css/circular-std');

.Footer{
    background: #192023;
    padding: 3rem;
    color: #FFFFFF;
    font-family: 'Circular Std', sans-serif;
    p{
        font-size: 1.1rem;
        line-height: 2rem;
        font-style: italic;
        span{
            font-size: 0.8rem;
            font-style: normal;
        }
    }

    svg{
        margin: 2rem 1.5rem 0 1.5rem;
        cursor: pointer;
    }
}