@font-face {
    font-family: "Wisteria Serif";
    src: local("Wisteria"), 
    url("./Fonts/Wisteria/Wisteria.woff") format("woff");
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    text-align: center;  
    font-style: normal; 
    color:#265156;
    font-family: "Wisteria Serif";                                      
}