
    // @import url('http://fonts.cdnfonts.com/css/wisteria?styles=126035');            

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    text-align: center;
    // font-family: 'Wisteria', sans-serif;    
    font-style: normal; 
    color:#265156;                                      
}